* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(180deg, #eaf7f2 0%, #ffffff 60%);
}

/* Navbar */
.navbar {
  height: 80px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li {
  font-size: 16px;
  color: #A6A6A6;
  cursor: pointer;
}

.nav-links li.active {
  color: #000;
  font-weight: 500;
}

.auth {
  display: flex;
  align-items: center;
  gap: 25px;
}

.login {
  text-decoration: none;
  color: #A6A6A6;
  line-height: 100%;
}

.signup {
  text-decoration: none;
  padding: 10px;
  background-color: #54BD95;
  color: #F8F8FA;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

/* Hero */
.hero {
  max-width: 1300px;
  margin: auto;
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
}

.curvediv {
  border: 8px;
  margin-top: 30px;
  color: #54BD95;
}

.description {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  margin-top: 60px;
  max-width: 450px;
}

.hero-actions {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.trial-btn {
  background: #54BD95;
  color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap:10px;
  padding: 20px 30px;
}

.demo-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.view-btn {
  font-weight: 500;
  font-size: 18px;
  color: #191A15;
}

.hero-right {
  position: relative;
  max-width: 420px;
}

.profile-card {
  background: #52BD94;
  border-radius: 10px;
}

/* Floating UI */
.float {
  position: absolute;
  background: #fff;
  padding: 14px 18px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.label {
  font-size: 12px;
  font-weight: 400;
  color: #A9A7B6;
}

.amount {
  font-weight: 400;
  font-size: 12px;
  margin-top: 4px;
  color: #000000;
}

.send-card {
  top: 20px;
  left: -60px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.send-card button {
  background: #57c18f;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
}

.income-card {
  bottom: 60px;
  left: -40px;
}
.amt-wrap{
  display: flex;
  gap: 10px;
}

/* Credit Card */
.credit-card {
  position: absolute;
  right: -110px;
  bottom: 20px;
  padding: 18px;
  border-radius: 10px;
  font-size: 14px;
  color: #161C28;
}

/* Brands */
.brands {
  text-align: center;
  margin-bottom: 50px;
}

.brands h2 {
  font-size: 40px;
  font-weight: 700;
}

.logos {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 48px;
  color: #aaa;
  font-weight: 500;
}

/* Support */
.support {
  background: #f9fbff;
  padding: 90px 60px;
}

.support-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.support-left h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 100%;
}

.support-desc {
  margin-top: 18px;
  font-size: 16px;
  line-height: 30px;
  color: #A6A6A6;
  font-weight: 500;
}

.ratings {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

.rating-box {
  font-size: 14px;
}

.stars {
  color: #FFC728;
  font-size: 18px;
  letter-spacing: 2px;
}

.stars .gray {
  color: #BBBBBB;
}

.rating-box p {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 700;
}

.rating-box strong {
  font-weight: 400;
  font-size: 18px;
}

.rating-box span {
  color: #A6A6A6;
  font-size: 18px;
  font-weight: 700;
}

/* Right */
.support-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.feature {
  background: #fff;
  padding: 22px 24px;
  border-radius: 14px;
  display: flex;
  gap: 18px;
  align-items: flex-start;
  
}

.icon {
  background: #eaf7f2;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-size: 18px;
}

.feature h4 {
  font-size: 16x;
  font-weight: 700;
}

.feature p {
  margin-top: 6px;
  font-size: 14px;
  color: #A6A6A6;
  line-height: 1.6;
}


.features {
  padding: 90px 60px;
  background: #fffaf7;
}

/* HEADER */
.features-header {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1.5fr auto;
  align-items: center;
  gap: 40px;
}

.features-header h2 {
  font-size: 50px;
  font-weight: 600;
  color: #191A15;
  line-height: 100%;
}

.features-header p {
  font-size: 18px;
  line-height: 30px;
  max-width: 461px;
  color:#A6A6A6;
}

.get-started {
  background:#54BD95;
  color: #FFFFFF;
  border: none;
  font-weight: 500;
  padding: 14px 26px;
  border-radius: 70px;
  font-size: 15px;
  cursor: pointer;
  line-height: 30px;
}

/* CARDS */
.features-cards {
  max-width: 1200px;
  margin: 70px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.feature-card h4 {
  margin-top: 24px;
  font-size: 30px;
  font-weight: 600;
  line-height:30px;
  color: #191A15;
}

.feature-card p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.7;
  line-height: 30px;
  color: #A6A6A6;
  font-weight: 500;
   max-width: 280px; 
}
.imgdiv{
  color:#F9F8FE;
  gap:5px;
}


